/*.jar
/.bin
/.checkstyle
/.cproject
/.dependencies
/.doxydoc
/.javadoc
/.publish
/.settings/
/bin/
/distrib/
/doxydoc/
/javadoc/
/build/ivy.jar
/build/bootstrap/
/build/conf/
/build/lib/
/native/Darwin/
/native/Linux/
/native/include/win32/*.ico
/src/shared/
